
/Pods/*

*.xcbkptlist

*.xcuserstate

*.xcuserstate

*.xcbkptlist

geotracker.xcodeproj/project.xcworkspace/xcuserdata/grimax.xcuserdatad/UserInterfaceState.xcuserstate

geotracker.xcodeproj/xcuserdata/grimax.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

geotracker.xcodeproj/project.xcworkspace/xcuserdata/grimax.xcuserdatad/WorkspaceSettings.xcsettings

*.lock
